div.contacts-container{
    border-right: 1px solid #363636;
    border-left: 1px solid #363636;
    height: 94vh;
    max-width: 800px;
    margin: 0 auto;
}

header.header-contacts {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header.header-contacts span{
    display: flex;
    align-items: center;
    gap: 15px;
}



section.select-contacts h1 {
    margin-left: 10px;
}

span.my-contact {
    display: grid;
    grid-template-columns: 100px 70px;
    grid-template-rows: 70px;
    padding: 10px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

span.my-contact:hover {
    background-color: #363636;
}

span.my-contact img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}